/* CSS for start audio context button */
.btn {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.btn:hover{
  background-color: #555;
}

/* CSS for color select dropdown */
select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
}

/* CSS for checkbox container */
#myCheckboxContainer {
  margin: 10px 0;
}

/* CSS for checkbox label */
label {
  margin-left: 5px;
}

/* CSS for checkbox */
input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 5px;
}
